<form [formGroup]="bookForm" (ngSubmit)="save()">

    <div>
        <label for="tilte">Título de libro</label>
        <input type="text" id="title" formControlName="title">
    </div>

<div>
    <label for="numPages">Número de páginas</label>
    <input type="number" id="numPages" formControlName="numPages"
    min="5" step="1">
</div>

<div>
    <label for="price">Precio en Euros (€)</label>
    <input type="number" id="price" formControlName="price"
    min="5" step="0.01">
</div>


<div>
    <label for="available">Está disponible para la venta (Sí / No)</label>
    <input type="checkbox" id="available" formControlName="available">
</div>

<div>
    <label for="publishDate">Fecha de publicación</label>
    <input type="datetime-local" id="publishDate" formControlName="publishDate">
</div>

<!--Radio buttons para seleccionar 1 opción entre muchas
Ideal para opciones fijas, estáticas, número limitado de opciones -->

<div>
    <label for="category">Categoría</label>
<div>
    <label for="novela">Novela</label>
    <input id="novela" value="novela" type="radio" formControlName="category">

    <label for="romance">Romance</label>
    <input id="romance" value="romance" type="radio" formControlName="category">

    <label for="educacion">Educación</label>
    <input id="educacion" value="educacion" type="radio" formControlName="category">


</div>
</div>
<!--Selector simple-->

<div>
    <label for="author">Autor/a del libro</label>
    <select id="author" formControlName="author">
        <option value="">Selecciona una persona</option>
        <option value="Paco García">Paco García</option>
        <option value="Antonio Pérez">Antonio Pérez</option>
        <option value="Carmen Torres">Carmen Torres</option>
    </select>
</div>

<!-- slector multiple:
ideal para selecionar múltiples opciones 
dentro de la variable de opciones.
Por ejemplo: etiquetas 
-->



<button type="submit">Enviar</button>

</form>
