<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 class="mt-5">Listado de Libros <i class="bi bi-book"></i></h1>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <td scope="col">Id</td>
                        <td scope="col">Foto</td>
                        <td scope="col">Titulos</td>
                        <td scope="col">Sinopsis</td>
                        <td scope="col">Fecha release</td>
                        <td scope="col">Páginas</td>
                        <td scope="col">Precio</td>
                        <td scope="col">Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @for(book of books; track book.id){
                    <tr>
                        <!-- TODO: Agregar una imagen -->
                        <td>{{book.id}}</td>
                        <td>
                            
                            <a [routerLink]="['/libros', book.id, 'detalle']">
                            <img style="max-width:100px;" [src]="book.photo">
                            </a>

                    
                        </td>
                        <td>{{book.title}}</td>
                        <td>{{book.sinopsis}}</td>
                        <td>{{book.release}}</td>
                        <td>{{book.numPages}}</td>
                        <td>{{book.price}}</td>
                        <td>
                            <button class="btn btn-success me-2"
                                [routerLink]="['/libros', book.id, 'detalle']">
                                <i class="bi bi-eye"></i>
                                Ver detalle</button>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
